<%= render 'layouts/banner' %>
<%= render 'layouts/mainnav' %>
<%= render 'layouts/navbar' %>

<div class='text-center'>
		<h1> Elimination round </h1>
			<div class='d-flex flex-wrap justify-content-around'>
					<% @shuffledteams.each do |team| %>
							<div style='border:1px solid black; border-radius: 50px; margin: 20px 20px;'>
									<div style='height:50px; width:200px; background-color: lightcoral; border-radius: 50px; margin: 20px 20px;'>
											<p style='padding-top: 12px;'> <%= team[0].team_name %> </p>
									</div>
									<p> VS </p>
									<div style='height:50px; width:200px; background-color: lightcoral; border-radius: 50px; margin: 20px 20px;'>
											<p style='padding-top: 12px;'> <%= team[1].team_name %> </p>
									</div>
							</div>
					<% end %>
			</div>
</div>